<%= form_for(@event_group) do |f| %>
  <% if @event_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_group.errors.count, "error") %> prohibited this event_group from being saved:</h2>

      <ul>
      <% @event_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :creator_id %><br>
    <%= f.number_field :creator_id %>
  </div>
  <div class="field">
    <%= f.label :group_description %><br>
    <%= f.text_area :group_description, rows:6 %>
  </div>
  <div class="field">
    <%= f.label :imageurl %><br>
    <%= f.text_field :imageurl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
