<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_group.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event_group.creator_id %>
</p>

<p>
  <strong>Group description:</strong>
  <%= @event_group.group_description %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @event_group.imageurl %>
</p>

<%= link_to 'Edit', edit_event_group_path(@event_group) %> |
<%= link_to 'Back', event_groups_path %>
