<div class ="contentwrap">

  <p id="notice"><%= notice %></p>

  <h1>Listing Groups</h1>

  <div>
  <ul>

    <% @groups.each do |group| %>
        <li>
          <%= image_tag(group.imageurl, :alt => "rss feed") %>
          <!-- <td><%= group.imageurl %></td> -->
          <h3><%= group.name %></td>
          <!-- <td><%= group.creator_id %></td> -->
          <p><%= group.group_description %></p>
          
          <%= link_to 'Show', group %>
          <%= link_to 'Edit', edit_group_path(group) %>
          <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
    
  </ul>
</div>



      



  <br>

  <%= link_to 'New Group', new_group_path %>

</div>
