<p id="notice"><%= notice %></p>

<div class="top">
  <div class="toptext">
    <p>Dine With Friends </p>
    
    <p>The Dining App for the Socially Competitive</p>
 

  <div class="createnew"> <%= link_to 'Create A New Group', new_group_path %> </div>

  <p>..Or join an existing group.</p>

  </div>

   </div>


<div class="mid1">
<div class="mid1text">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

 </div>



<div class="groupshome">


  <h1>Latest Groups</h1>

    <div class="grouplist">
    <ul>

      <% @groups.each do |group| %>
          <li>

            <%= image_tag(group.imageurl, :alt => "rss feed", :class => "group_thumb") %>
            <!-- <td><%= group.imageurl %></td> -->
            <h3><%= group.name %></td>
            <!-- <td><%= group.creator_id %></td> -->
            <p><%= group.group_description %></p>
            
            <%= link_to 'Show', group %>
            <%= link_to 'Edit', edit_group_path(group) %>
            <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        <% end %>
      
    </ul>
  </div>

</div>

<div class ="contentwrap">



  <br>

  <%= link_to 'New Group', new_group_path %>

</div>
