<h1>New Group</h1>

<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
 
  <div class="field">
    <%= f.label :group_description %><br>
    <%= f.text_area :group_description %>
  </div>
  <div class="field">
    <%= f.label :imageurl %><br>
    <%= f.text_field :imageurl %>
  </div>

   <%= f.label :users %><br>
    <% User.all.each do | user | %>
      <%= check_box_tag "group[user_ids][]", user.id %>
      <%= user.name %><br />
    <% end %>




  <div class="field">
    <%= f.label "Members(arrayofuids)" %><br>
    <%= f.text_field :user_id %>
  </div>

  <%= f.hidden_field :creator_id, :value => current_user.id %>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>





<%= link_to 'Back', groups_path %>
