<div class="tournamentsidebartop">

  
  <p>
    <strong>Group:</strong>
    <%= link_to(@group.name, group_path(@group)) %>
  </p>
  <h3>∟<%= link_to(@tournament.name, group_tournament_path(@group, @tournament)) %> Tournament</h3>
  
  <% if @tournament.users.where(:id => current_user.id).blank? %>
    <div class="stakes">
    Rounds: <%= @tournament.events.count %><br>
    <% stake = @tournament.users.count * @tournament.stake %>
    Prize Pool: £<%=stake%>
    <%= render "./charges/newcharge" %>
    
    </div> 
  <% else %>
  <%= "You have paid the Stake and are enrolled in this tournament" %>
  <% end %>

  

</div>



<div class="title">
  Events
</div>
<ul class="othereventlist">

 <% @tournament.events.each_with_index do | event, index | %>
    <li> 
      
      <%= link_to group_tournament_event_path(@group, @tournament, event) do %>
      <div>  
          Round <%= index + 1 %>: <%= event.name %><br>
          <%= image_tag(event.imageurl, :class => "event_thumb") %>
        </div>



      <% end %>
    </li>
  <% end %> 

  </ul>