<style media="screen">
  
  .image_show_top{ background-image: url("/assets/<%= @tournament.imageurl %>"); }

</style>

<div class="image_show_top">

  

  <div class="buttonsbox">

  <div class="joingroup">
  <%= link_to 'Join Tournament', new_group_tournament_path(@group) %>
  </div>

  <div class="createnewtourn">
  <%= link_to 'Create New Event', new_group_tournament_event_path(@group, @tournament) %>
  </div>

  </div>




  <div class="image_show_top_text">
    <p>
      <strong>Name:</strong>
      <%= @tournament.name %>

    </p>
    <p><%= @tournament.tournament_description %></p>
    <p>NEXT EVENT:<p>
    </div>

    <div class="tournamentsbar">
    Participants

    
      <div class="group_members_top">
      
        <ul>
          <% @tournament.user_id.each do | user | %>
            <li>
            <% profileimg = User.find(user).profile_image_url %> 
            <%= image_tag(profileimg, :alt => "rss feed", :class => "profile_thumb") %> </li>

          <% end %>
        </ul>
      </div>
      </div>

    </div>


</div>


  <div class="content">

  <p id="notice"><%= notice %></p>
  
  <div>
    <h3><%= @tournament.name %> Upcoming Events:</h3>
    </div>
  <ul class="eventlist">
      

      <% if @tournament.events.present? %>
       <% @tournament.events.each_with_index do | event, index | %>
          <li> 
            <%= link_to group_tournament_event_path(@group, @tournament, event) do %>
              <div>  
                  Round <%= index + 1 %>: <%= event.name %><br>
                  <%= image_tag(event.imageurl, :class => "tournament_thumb") %>
                </div>
            <% end %>
          </li>
        <% end %> 

      <% else %>
          There are no events for this tournament yet
          <% end %>
    </ul>


  <p>
    <strong>Tournament Name:</strong>
    <%= @tournament.name %>
  </p>
  
   <div class="tournamentpreviewsprize">
                <% users = @tournament.user_id.count %>
                <% stake = users * @tournament.stake %>

                 Prize Pool: £<%=stake%>
                </div>

  <p>
    <strong>Group:</strong>
    
    <% group = Group.find(@tournament.group_id).name %> 
    <%= group %>
  </p>
    

  <p>
    <strong>Creator:</strong>
    <% creator = User.find(@tournament.creator_id).name %> 
    <%= creator %>
  </p>

  <p>
    <strong>Tournament description:</strong>
    <%= @tournament.tournament_description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @tournament.user_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @tournament.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @tournament.end_date %>
  </p>

  


  <li> <%= link_to('Edit', edit_group_tournament_path(@group, @tournament)) %> </li>
    <li> <%= link_to('Delete', group_tournament_path(@group, @tournament), method: :delete) %></li>

</div>

