<style media="screen">
  
  .image_show_top{ background-image: url("/assets/<%= @tournament.imageurl %>"); }

</style>

<div class="image_show_top">
  <div class="imagegreyer">

    

    <div class="buttonsbox">
    <div class="buttonslider">
      <%= image_tag("arrow.png", size:"25", :alt => "rss feed", :class => "arrow") %>

      </div>
      <div class="buttondiv">

      <div class="jointournament">
      <% if @tournament.users.exists?(current_user.id) %>
         <%= button_to 'Leave Tournament', jointournament_group_tournament_path, :class =>"btn btn-primary btn-lg", id: "jointournament",  remote: true, method: :post %>
        <% else %>
          <%= button_to 'Join Tournament', jointournament_group_tournament_path, :class =>"btn btn-primary btn-lg", id: "jointournament",  remote: true, method: :post %>    
          <% end > %>
      </div>



     

      

     

      <div class="createnewevent">

       <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#eventcreatemodal">New Event</button>
        </div>

        <%= form_for [@group, @tournament, @event] do |f| %>
          <div class="modal fade" id="eventcreatemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style='color:black;'>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Event</h4>
              </div>

              <div class="modal-body">
                <%= render '/events/form' %>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= submit_tag "Create", class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>

      </div>

  </div>










    <div class="image_show_top_text">
      <p>
        <strong>Name:</strong>
        <%= @tournament.name %>

      </p>
      <p><%= @tournament.tournament_description %></p>
      
      </div>

      <div class="tournamentsbar">
      
      
        <div class="tournamentsbar">
        <div class="group_members_top"> 
        <%= render 'tournamentusers' %>
        </div>
      </div>

      </div>

  </div>
</div>


</div>

  <div class="content">

  <p id="notice"><%= notice %></p>
  
  <div>
    <h3><%= @tournament.name %> Upcoming Events:</h3>
    </div>



  <ul class="eventlist">
      

      <% if @tournament.events.present? %>
       <% @tournament.events.each_with_index do | event, index | %>
      
          <li> 
            <%= link_to group_tournament_event_path(@group, @tournament, event) do %>
              <div>  
                  Round <%= index + 1 %>: <%= event.name %><br>
                  <%= image_tag(event.imageurl, :class => "tournament_thumb") %>
                </div>
              <div class="avg_score">
              Score: 
              <% if event.average.present? %> 
                <% avg = event.average("Rating").avg %>
                <%= number_with_precision(avg, precision: 2) %>
              <% end %>
              </div>  
              <div class="timetoevent">
          
              <% if event.start_date.present? %>
                <% daysleft = (event.start_date.to_date - DateTime.now).to_int %>

                <% if daysleft == 0 %>
        
                   <%= 'Event is Today!' %>
                   <% elsif daysleft > 0 %>
                   Days till Event: <%= daysleft %>
                   <% elsif daysleft < 0 %>
                   <%= 'Event has passed' %>
                   <% else %>
                   <% 'Event has no date yet.' %>
                  <% end %>
              <% end %>

              </div>

              <div class="eventactive">
              <% ratings = event.rates("Rating").count %>
              <% users = event.users.count %>

              <% if ratings == users %>
              Event complete! All users have voted
              <% else %>
              Waiting for guests to finish voting
              <% end %>
              </div>

              

            <% end %>
          </li>
        <% end %> 

      <% else %>
          There are no events for this tournament yet
          <% end %>
    </ul>

<div class="container groupcontent">
      <div class="row">          

        <div class="groupcol2 col-md-10">
                  
                 <!-- col1 -->

          <p>
            <strong>Tournament Name:</strong>
            <%= @tournament.name %>
          </p>
          
           <div class="tournamentpreviewsprize">
                        <% stake = @tournament.users.count * @tournament.stake %>

                         Prize Pool: £<%=stake%>
                        </div>

          <p>
            <strong>Group:</strong>
            
            <% group = Group.find(@tournament.group_id).name %> 
            <%= group %>
          </p>
            

          <p>
            <strong>Creator:</strong>
            <% creator = User.find(@tournament.creator_id).name %> 
            <%= creator %>
          </p>

          <p>
            <strong>Tournament description:</strong>
            <%= @tournament.tournament_description %>
          </p>

         <!--  <p>
            <strong>User:</strong>
            <%= @tournament.user_id %>
          </p> -->

          <!-- <p>
            <strong>Start date:</strong>
            <%= @tournament.start_date %>
          </p>

          <p>
            <strong>End date:</strong>
            <%= @tournament.end_date %>
          </p>
         -->
          


          <li> <%= link_to('Edit', edit_group_tournament_path(@group, @tournament)) %> </li>
            <li> <%= link_to('Delete', group_tournament_path(@group, @tournament), method: :delete) %></li>

        </div>

        </div>

        <div class="col-md-2">
             
          <div class="groupscol1">   
          <%= render :partial => 'events/otherevents' %> 
          </div>
        
        </div>

      </div>
    </div>



new charge here:
<%= render "./charges/newcharge" %>


