
<% @ratings = @event.rates("Rating") %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span9">
    <!-- Column 1 - Event header - Title -->
    <h3>Event:
      <%= @event.name %>
      <div class="inlinejoinbutton">
        <div class="joinevent">
          <% if @event.users.exists?(current_user.id) %>
             <%= button_to 'Leave Event', joinevent_group_tournament_event_path, :class =>"btn btn-primary btn-lg", id: "joinevent",  remote: true, method: :post %>
            <% else %>
              <%= button_to 'Join Event', joinevent_group_tournament_event_path, :class =>"btn btn-primary btn-lg", id: "joinevent",  remote: true, method: :post %>    
              <% end > %>
        </div>
      </div>
    </h3>

    <div class="row">
      <!-- Column 1 - Event header - col1 -Hose image -->
      <div class="col-md-2">      
        <% profileimg = User.find(@event.host_id).profile_image_url %> 
        <%= image_tag(profileimg, :alt => "rss feed", :class => "circularprofilepic") %><br>
        <strong>Host:</strong>
        <% host = User.find(@event.host_id).name %> 
        <%= host %>
       </div>
      <!-- Column 1 - Event header- col 2 Event info -->
      <div class="col-md-4">  
        <div class="infowrap">
          <strong>Status:</strong>
          <% if @event.start_date.present? %>
            <% if @event.start_date.past? %>
              <%= 'Event has finished' %>
              <% else %>
              <%= 'Event is coming up' %>
              <% end %>
            <% else %>
              <%= 'Event has not date' %>
            <% end %>

          <strong>Date:</strong>
          <%= @event.start_date.to_date %>
          
          <div class="voteinfo">
            <% users = @event.users.count %>
            <% ratings = @ratings.count %>
            <% if (users == ratings) && (users > 0) %>
              All votes are in!
              <% @event.outcome = 1 %>
              <% @event.save %>
            <% else %>
            <strong>Voting:</strong>
            <%= ratings %> / <%= users %>
            guests have voted.  
            <% end %>
          </div>
        </div>
      </div>  
      <!-- Column 1 - Event header - col3 - Voting -->
      <div class="col-md-2">

        <% @ratings.each do | rating | %>
          <% if current_user.id == rating.rater_id %>
          <% @rated = 1 %>
          <% @ratedevent = rating %>
          <% else %>
          <% end %>
        <% end %>
        
        <% if @rated != 1 %>
         Rating:
        <div class="staravg1">
         <%= rating_for @event, "Rating", stars:10, enable_half: true, disable_after_rate: true  %>
        </div>

        <% else %>
        You rated this event:
        <div class="star1">
         <%= (@ratedevent.stars).round(1) %>
        </div>
        <% end %>


      </div>

    </div>
  </div>
</div>

<div class="group_members_top">
  Guests
  <div class="membersheader">
    <%= render 'eventusers' %>
  </div>
</div>

<div class="infoheader">
  Event Information
  </div>

<div class="eventinfo">

  <div class="eventdescription">
    <p>
      <%= @event.event_description %>
    </p>
  
    <p>
      <strong>Location:</strong>
      <%= @event.location %>
    </p>
  
    <!-- <p>
      <strong>Outcome:</strong>
      <%= @event.outcome %>
    </p> -->

    <div class="eventactive">
      <% ratingscount = @event.rates("Rating").count %>
      <% users = @event.users.count %>

      <% if ratingscount == users %>
      Event complete! All users have voted
       <% @event.outcome = 1 %>
       <% @event.save %>

      <% else %>
      Waiting for guests to finish voting
      <% end %>
    </div>

    
    <% @ratings.each do | rating | %>

    <% rater = User.find(rating.rater_id) %>
    <%= rater.name %>
    <%= (rating.stars).round(1) %>
    <% end %>
    
    <br>
    <% @ratings.each do | rating | %>
      <% if current_user.id == rating.rater_id %>
        Your rating is: <%= (rating.stars).round(1) %>
        <% else %>
      <% end %>
    <% end %>


    

    <td><%= link_to 'Edit', edit_group_tournament_event_path(@group, @tournament, @event) %>
    </td>

    <td><%= link_to 'Destroy', group_tournament_event_path(@group, @tournament, @event), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>

  </div>

  <div class="mapheader">
    Map
  </div>
  

  <div id="map" style='width: 100%; height: 400px;'></div>
     
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @event.latitude %>,
          "lng": <%= @event.longitude %>,
          
          "infowindow": "hello!"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  </script>

</div>
