   <div class="eventsidebartop">

<p>
  <strong>Group:</strong>
    <%= link_to(@group.name, group_path(@group)) %>
</p>


   
        <h3>Events in the <%= link_to(@tournament.name, group_tournament_path(@group, @tournament)) %> Tournament</h3>
      </div>

      <ul class="othereventlist">

      

       <% @tournament.events.each_with_index do | event, index | %>
          <li> 
            
            <%= link_to group_tournament_event_path(@group, @tournament, event), id:"show", remote: true, method: :get do %>
              <div>  
                  Round <%= index + 1 %>: <%= event.name %><br>
                  <%= image_tag(event.imageurl, :class => "tournament_thumb") %>
                </div>
            <% end %>
          </li>
        <% end %> 

        </ul>