<ul class="othereventlist">
      <div>
        <h3>Other Events in the <%= @tournament.name %> Tournament</h3>
      </div>

      
       <% @tournament.events.each_with_index do | event, index | %>
          <li> 
            <%= link_to group_tournament_event_path(@group, @tournament, event) do %>
              <div>  
                  Round <%= index + 1 %>: <%= event.name %><br>
                  <%= image_tag(event.imageurl, :class => "tournament_thumb") %>
                </div>
            <% end %>
          </li>
        <% end %> 

        </ul>