<style media="screen">
  
  .image_show_top{ background-image: url(<%= @event.imageurl %>); }

</style>

<div class="joinevent">
  <% if @event.users.exists?(current_user.id) %>
     <%= link_to 'Leave Event', joinevent_group_tournament_event_path, id: "joinevent",  remote: true, method: :post %>
    <% else %>
      <%= link_to 'Join Event', joinevent_group_tournament_event_path, id: "joinevent",  remote: true, method: :post %>    
      <% end > %>
  </div>

<div class="image_show_top">
  <div class="image_show_top_text">
    <p>
      <strong>Name:</strong>
      <%= @event.name %>

    </p>
    <p><%= @event.event_description %></p>
    <p>NEXT EVENT:<p>
    </div>

    <div class="tournamentsbar">
    Guests
    
      <div class="group_members_top">
      
        <ul>
          <% @event.user_id.each do | user | %>
            <li>
            <% profileimg = User.find(user).profile_image_url %> 
            <%= image_tag(profileimg, :alt => "rss feed", :class => "profile_thumb") %> </li>

          <% end %>
        </ul>
      </div>
      </div>

    </div>


</div>















<div class="content">

<p id="notice"><%= notice %></p>


<!-- <p class="topimage">
  <%= image_tag(@event.imageurl) %>
</p> -->

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Host:</strong>
  <% host = User.find(@event.host_id).name %> 
  <%= host %>
</p>

<p>
  <strong>Event description:</strong>
  <%= @event.event_description %>
</p>

<p>


<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Group:</strong>
  <% group = Group.find(@event.group_id).name %> 
  <%= group %>
</p>

<p>
  <strong>Tournament:</strong>
  <% tournament = Tournament.find(@event.tournament_id).name %> 
  <%= tournament %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Outcome:</strong>
  <%= @event.outcome %>
</p>


<td><%= link_to 'Edit', edit_group_tournament_event_path(@group, @tournament, @event) %></td>

<td><%= link_to 'Destroy', group_tournament_event_path(@group, @tournament, @event), method: :delete, data: { confirm: 'Are you sure?' } %></td>

</div>
