<p id="notice"><%= notice %></p>


<p class="topimage">
  <%= image_tag(@event.imageurl) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host_id %>
</p>

<p>
  <strong>Event description:</strong>
  <%= @event.event_description %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Group:</strong>
  <%= @event.group_id %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @event.tournament_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Outcome:</strong>
  <%= @event.outcome %>
</p>


<td><%= link_to 'Edit', edit_group_tournament_event_path(@group, @tournament, @event) %></td>

<td><%= link_to 'Destroy', group_tournament_event_path(@group, @tournament, @event), method: :delete, data: { confirm: 'Are you sure?' } %></td>

