<style media="screen">
  
  .image_show_top{ background-image: url("/assets/<%= @event.imageurl %>"); }

</style>

<div class="image_show_top">

<div class="buttonsbox">

  <div class="joinevent">
    <% if @event.users.exists?(current_user.id) %>
       <%= link_to 'Leave Event', joinevent_group_tournament_event_path, id: "joinevent",  remote: true, method: :post %>
      <% else %>
        <%= link_to 'Join Event', joinevent_group_tournament_event_path, id: "joinevent",  remote: true, method: :post %>    
        <% end > %>
    </div>
  </div>  


  <div class="image_show_top_text">
    <p>
      <strong>Name:</strong>
      <%= @event.name %>

    </p>
    <p><%= @event.event_description %></p>
    <p>NEXT EVENT:<p>
    </div>

    <div class="tournamentsbar">
    
    
      <div class="tournamentsbar">
      <div class="group_members_top"> 
      <%= render 'eventusers' %>
      </div>
    </div>

    </div>

    </div>


</div>







<div class="container">
    <div class="row">
        <div class="col-md-2">
             
          <%= render 'otherevents' %> 
        
      </div>

        <div class="col-md-10">
          
          <div class='content'>
          <%= render 'eventinfo' %> 
          </div>

        </div>
    </div>
</div>








